body {
  text-align: center;
}

.month {
  font-size: 30px;
}

#month-row {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 10px;
}

#day-container {
  margin: 10px 20px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.day {
  border: 2px solid black;
  padding: 15px 20px;
  justify-content: end;
  align-items: center;
  display: flex;
  flex-direction: column;
  max-height: 20px;
  flex-shrink: 1;
  border-radius: 10px;
}

textarea {
  margin-top: 5px;
  width: 99%;
  height: 100px;
  border: 1px solid black;
  border-radius: 10px;
  resize: none;
}

#submit-btn {
  margin-top: 5px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}

